/node_modules
/public/qrcodes
/public/results
/public/assets/templates

/storage/*.key
/storage/installed
/vendor
.env
.env_co
.env_com
.env.server
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
